node_modules
dist
.DS_Store
coverage
.env
.pnpm-store
.idea
.vscode/*
!.vscode/extensions.json
*.local
tests/execution-factory/agent-at/
tests/execution-factory/operator-web-ui/
tests/execution-factory/fixtures/
tests/execution-factory/http/test.json
tests/execution-factory/agent-at/config/env.ini
tests/execution-factory/tool/config.local.yaml

